<h1>Messages#new</h1>
<p>Find me in app/views/messages/new.html.erb</p>
<div class="container mt-5">
  <div class="card p-4 shadow">
    <h1 class="mb-4">Send a Message to the Host</h1>
    <form>
      <div class="form-group">
        <label for="content">Message</label>
        <textarea class="form-control" id="content" rows="4" placeholder="Write your message here"></textarea>
      </div>
      <button type="submit" class="btn btn-success mt-3">Send</button>
    </form>
  </div>
</div>
