// Define variables for your color scheme

// For example:
$red: #FD1015;
$orange: #E67E22;
$green: #1EDD88;

$yellow: #ffe46f;
$purple: #bc70ff;
$light-green: #aeccc0;
$light-blue: #7aa2c4;
$blue: #00afe9;
$light-gray: #f0f1ec;
$light-pink: #fbb1fd;
$gray: #858681;
$black: #000000;
