<h1>Booking details</h1>

<div class="page-wrapper">
  <div class="card form-container">
    <%= simple_form_for([@life, @booking]) do |f| %>
	    <%= f.input :start_date, as: :string, input_html: { data: { controller: 'datepicker' }} %>
      <%= f.input :end_date, as: :string, input_html: { data: { controller: 'datepicker' }} %>
      <div class="d-flex justify-content-between">
        <%= f.submit "Create booking", class: "btn btn-success rounded-1" %>
      </div>
    <% end %>
  </div>
</div>
