
<footer class="footer text-center " style="background-color: rgb(11, 10, 10)">
  <!-- Grid container -->
  <div class="container">
    <!-- Section: Links -->
    <section class="mt-1">
      <!-- Grid row-->
      <div class="row text-center d-flex justify-content-center pt-3">
        <!-- Grid column -->
        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <%= link_to "About Us", about_path %>
          </h6>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-2">
          <a href="https://github.com/nadia-z/New-life" class=" me-3">
            <i class="fab fa-github"></i>
          </a>
        </div>
        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#">Contact</a>
          </h6>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row-->
    </section>
    <!-- Section: Links -->
    <hr class="my-2" />
  </div>
  <!-- Grid container -->
  <!-- Copyright -->
  <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2)">
    <h6>© 2025 Copyright: <a class="" href="#">NewLife.com</a></h6>
  </div>
  <!-- Copyright -->
</footer>
