<div class="about-page">
  <h3>A little bit about us...</h3>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In voluptatum architecto eligendi temporibus! Libero voluptatibus sint ullam ipsum debitis nihil tempora ex consequatur voluptatum id, maxime voluptas dicta natus neque!</p>

  <br>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quis minima reprehenderit velit amet quas rerum libero neque magni, sint accusantium dicta similique sunt illo delectus. Eaque a repellat laborum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, id eos? Corrupti quis quia quam vitae quidem quas temporibus, ea alias illum natus, cupiditate expedita quibusdam voluptates obcaecati amet possimus?</p>
  <br>
  <h4>Developers:</h4>

  <ul>
    <li><h6>Nadia</h6></li>
    <li><h6>Zara</h6></li>
    <li><h6>Anahita</h6></li>
    <li><h6>Eitan</h6></li>
    <li><h6>Nicola</h6></li>
  </ul>
</div>
