<div class="main-header mb-5">
  <h1>Ever wondered what it's like to live someone else's life?
  <h1>Experience it for one day.</h1>

  <%= form_tag "/search", method: :get, class: "d-flex mb-4 justify-content-center mt-3" do %>
    <%= text_field_tag :query, params[:query], placeholder: "Search for a life...", class: "form-control-lg me-2" %>
    <%= submit_tag "Search", class: "btn btn-outline-primary" %>
  <% end %>
</div>

<div class="card-container">
  <% @lives.each do |life| %>
   <%= render "shared/life_card", life: life %>
  <% end %>
</div>
