<div class="main-header mb-5">
  <h1>Ever wondered what it's like to live someone else's life?
  <h1>Experience it for one day.</h1>
  <p class="m-3">With New Life, you get to spend a day living another person’s life — meeting them,
    exploring their world, and experiencing their daily routine firsthand.
    Discover new perspectives, create meaningful connections, and see life
    through someone else’s eyes.</p>


  <form class="d-flex mb-4 justify-content-center mt-3" action="/" accept-charset="UTF-8" method="get">
    <input type="text" name="query" id="query" placeholder="Search for a life..." class="form-control-lg me-2">
    <input type="submit" name="commit" value="Search" class="btn btn-outline-primary" data-disable-with="Search">
</form>

<h5><%= @notice %></h5>
<%= @warning%>
</div>

<div class="card-container">
  <% @lives.each do |life| %>
   <%= render "shared/life_card", life: life %>
  <% end %>
</div>
