.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  width: 65%;
  margin: 0 auto;
  margin-bottom: 2rem;
  height: 100%;
  border-radius: 10px;
}

.btn-container .btn {
  width: 100%;
}
