.card-container {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
  align-items: flex-start;
  justify-content: center;
  max-width: 1600px;
  margin: 0 auto;
  gap: 0.2rem;
}

.card-container .card {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  height: auto;
}

.card-container .card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
