.form-container {
  margin-top: 2rem;
  border-radius: 15px;
  box-shadow: 8px 8px 10px 1px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border: 1px solid rgb(202, 202, 202);
  width: 25%;
}

.edit-form {
  width: 35%;
}
