.form-container {
  margin-top: 2rem;
  border-radius: 15px;
  box-shadow: 8px 8px 10px 1px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  background-color: $dark-blue;
  margin-top: 3rem;
}

.form-select.is-valid {
  border-color: $blue;
}
.edit-form {
  width: 50%;
}

.form-container input,
.form-container textarea,
.form-container select,
.form-container .form-control {
  color: $black;
}
