.navbar-lewagon {
  justify-content: space-between;
  background: rgb(0, 0, 0);
  z-index: 200;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
  padding: 5%;
}
.nav-link {
  color: white;
}
.nav-link:hover{
  color: $yellow;
}
