<h1>Live experiences you offer</h1>

<div class="card-container">
  <% if @lives.count > 0 %>
    <% @lives.each do |life| %>
      <%= render partial: "shared/life_card", locals: {
        life: life,
        show_button: {
          text: "Edit life",
          path: edit_life_path(life)
        }
      } %>
    <% end %>
  <p>Create more lives: </p>
  <%else %>
    <p>You haven't created a life yet! Become a host! </p>
  <% end %>
    <%= link_to "Create a Life!", new_life_path, class: "btn btn-primary", style: "text-decoration: none; color: inherit;"%>
</div>
